img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: goldenrod;
    border-style: solid;
    text-align: center;
}

h1 {
    color: darkblue;
    text-align: center;
    background-color: lightgrey;
}

h2 {
    padding: 10px;
}

p {
    margin: 25px 0 25px 0;
}

hr {
    border: 2px solid white;
}

#about_pic {
    border: none;
    text-align: center;
    opacity: 1;
    transition: 0.5s linear;
    padding: auto;
}

#about_pic:hover {
    opacity: 1;
    background-color: goldenrod;
    border-width: 15px;
    border-style: ridge;
    border-color: darkblue;
    border-radius: 15px;
    padding: 4px;
}


/** CSS for Bootstrap elements **/

.selector-for-some-widget {
    box-sizing: content-box;
}

.navbar > a.navbar-brand {
    color: white;
    text-align: left;
}

a.col.nav-link:link {
    color: gold;
}

a.col.nav-link.disabled {
    color: grey;
}

/* Child Selector > */
.navbar-nav > .nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

.carousel {
    max-height: 540px;
    max-width: 960px;
    overflow: hidden;
    padding: 10px;
    resize: horizontal;
    height: calc(100vh - 16px);
}

.carousel-inner img {
    height: 540px;
    width: 960px;
    object-fit: contain;
}
