img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: goldenrod;
    border-style: solid;
    text-align: center;
} 

h1 {
    color: darkblue;
    text-align: center;
    border-color: wheat;
    background-color: lightgrey;
}

h2 {
    padding: 10px;
}

p {
    margin: 25px 0 25px 0; 
}


/** CSS for Bootstrap elements **/

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar > a.navbar-brand {
    color:white;
    text-align: left;
}

a.col.nav-link:link {
    color:gold;
}

a.col.nav-link.disabled {
    color:grey;
}

/* Child Selector > */
.navbar-nav > .nav-item {
    padding-left: 50px;
    padding-right: 50px;
}